<h1 mat-dialog-title>Select a file:</h1>
<div mat-dialog-content>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>
      <button
        mat-button
        (click)="selectedFile(node)"
        [ngClass]="[node.name === fileName ? 'btn-active' : '']"
      >
        {{ node.name }}
      </button>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node; when: hasChild"
      matTreeNodePadding
    >
      <button
        mat-icon-button
        matTreeNodeToggle
        [attr.aria-label]="'Toggle ' + node.name"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </button>
      {{ node.name }}
    </mat-tree-node>
  </mat-tree>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="dialogRef.close()" aria-label="cancel">
    Cancel
  </button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!fileName"
    [mat-dialog-close]="fileName"
    aria-label="ok"
  >
    Ok
  </button>
</div>
