.container {
  padding: 2rem;
  nav {
    background: rgb(63, 81, 181, 0.5);
    a {
      color: #3f51b5;
    }
    a.mat-tab-label-active {
      background: #3f51b5;
      color: #fff;
      opacity: 1;
    }
  }
}
@media screen and (max-width: 759px) {
  .container {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    ::ng-deep {
      .mat-tab-links {
        flex-direction: column;
      }
      .mat-tab-header-pagination {
        display: none;
      }
      .mat-form-field-infix {
        width: inherit;
      }
    }
  }
}
